VITE_API_URL=http://localhost:8001
VITE_OPENAI_API_KEY=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
PORT=3001



