@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Space Grotesk", sans-serif;
  }
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

